
html,
body
{
	padding:0;
	margin: 0;
	
	overflow: hidden;
}

body
{
	font-family: 'Open Sans', Arial;
	font-size: 12px;
	color: #fff;
	background: #ed6801 url(../images/bg_hex.png) no-repeat top center; /* Old browsers */
	height: 100%;
	width: 100%;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a
{
	color: #fff;
	text-decoration: none;
}

h1,h2,h3,h4
{
	padding: 0;
	margin: 0;
	line-height: 18px;
}



.inline
{
	display: inline-block;
}

.block
{
	display: block;
}

.logo
{
	width: 236px;
	height: 75px;
	background: url(../images/spr.png) no-repeat;
	float: left;
	margin-top: 16px;
}

.logo a
{
	width: 236px;
	height: 75px;
}

.navOuter
{
	width: 785px;
	height: 100px;
	float: left;
}

.acctAction
{
	text-align: right;
}

.acctAction a
{
	font-size: 15px;
	margin: 0 10px;
}

.navInner
{
	text-align: right;
	padding: 30px 0 5px 0;
}

.navline
{
	width: 480px;
	height: 1px;
	background: #fff;
	opacity: 0.5;
	float: right;
	margin-right: 10px;
}

.navInner a
{
	padding: 0 10px;
	font-size: 12px;
}

.container
{
	width: 1024px;
	height: auto;
	margin: 0 auto;
}

.header
{
	padding: 10px;
	
}

.content
{
	padding: 20px 0;
}

.bgBlack
{
	background: #272526; /* Old browsers */
	background: -moz-linear-gradient(top, #272526 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272526), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #272526 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #272526 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #272526 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top, #272526 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272526', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


.colb
{
	width: 650px;
	height: auto;
	float: left;
}

.index h2
{
	font-size: 35px;
	font-weight: normal;
	
}

.index h4
{
	font-size: 13px;
	font-weight: normal;
	margin-top: 30px;
	border-bottom: 1px solid #5e5e5e;
	padding: 0 0 5px 0;
}

.index h3
{
	font-size: 22px;
	font-weight: normal;
	color: #c5c5c5;
	line-height: 38px;
}

.cols
{
	float: right;
	height: auto;
	min-height: 100px;
	width: 370px;
}

.blocks
{
	width: 293px;
	float: left;
	height: auto;
	min-height: 60px;
	margin-bottom: 15px;
}

.features
{
	padding: 20px 0;
}

.pointer
{
	cursor: pointer;
}

.blocks .icon
{
	width: 16px;
	height: 16px;
	background-image: url(../images/spr.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
}

.ico-stream
{
	background-position: -388px -96px;
}

.ico-multichat
{
	background-position: -418px -115px;
}

.ico-vault
{
	background-position: -331px -172px;
}

.ico-sharebox
{
	background-position: -442px -113px;
	height: 20px !important;
}


.ico-subgroups
{
	background-position: -442px -113px;
	height: 20px !important;
}


.ico-mobile
{
	background-position: -29px -284px;
	height: 20px !important;
}


.details
{
	width: 220px;
	float: left;
	margin-left: 5px;
}

.details p
{
	margin: 0;
}
