.uploadifive-button
{
	cursor: pointer !Important;
}

.uploadifive-queue-item {
	border-radius: 5px;
	font: 12px Arial, Helvetica, Sans-serif;
	margin-top: 3px;
	color: #323232;
}
.uploadifive-queue-item .close {
	background: url('../images/uploadifive-cancel.png') 0 0 no-repeat;
	display: block;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadifive-queue-item .progress {
	border: 1px solid #D0D0D0;
	height: 15px;
	width: 100%;
		border-radius: 0;
	margin: 0;
	overflow: auto;
}
.uploadifive-queue-item .progress-bar {
	background-color: #555354;
	height: 15px;
	width: 0;
	border-radius: 0;
}
